  <!-- Background image -->

  <div class="text-center bg-image" style="
      background-image: url('https://images.unsplash.com/photo-1545665277-5937489579f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
      height: 550px;
      background-attachment: fixed;

    " id="hero-banner">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);height: 550px">
      <div class="social-app">
        <!-- <a href="https://www.facebook.com/profile.php?id=100093434461391&mibextid=ZbWKwL" class="fa fa-facebook"></a> -->
        <!-- <a href="https://instagram.com/shivamsharma301195?igshid=MzNlNGNkZWQ4Mg==" class="fa fa-instagram"></a> -->
        <a href="https://wa.me/qr/CAT35LUKAYWON1" class="fa fa-whatsapp"></a>
        <a href="https://github.com/samxx47" class="fa fa-github-alt"></a>
        <a href="https://www.linkedin.com/in/shivam-sharma-206a701aa/" class="fa fa-linkedin"></a>
        <a href="https://www.youtube.com/channel/UCnWt4bD2bCfwvVflQwQobQw" class="fa fa-youtube"></a>
      </div>


      <div class="d-flex justify-content-center align-items-center h-100">
        <!-- <div class="text-white">
          <h1 class="mb-3">Heading</h1>
          <h4 class="mb-3">Subheading</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
        </div> -->

        <div class="header-content">
          <h4 class="header-subtitle" >Hello, I am</h4>
          <h1 class="header-title">Shivam Sharma</h1>
          <h6 class="header-mono" >Software Engineer | Developer</h6>
          <a class="btn btn-primary btn-outline-danger btn-rounded" role="button" download="ShivamSharmaResumeSitefinityV3.docs" href="https://res.cloudinary.com/dlxuus1lc/raw/upload/v1687344790/Shivam_Sharma_ResumeSitefinityV3_t57jhv.docx"><i class="ti-printer pr-2"></i>Print Resume</a>
      </div>
      </div>

    </div>
  </div>
  <!-- Background image -->

  <!-- <script>
    function download(){
        axios({
            url:'https://github.com/samxx47/hostedportfolio/blob/master/src/assets/Shivam%20Sharma%20ResumeSitefinityV3.docx',
            method:'GET',
            responseType: 'blob'
    })
    .then((response) => {
           const url = window.URL
           .createObjectURL(new Blob([response.data]));
                  const link = document.createElement('a');
                  link.href = url;
                  link.setAttribute('download', 'image.jpg');
                  document.body.appendChild(link);
                  link.click();
    })
    }

 </script> -->
