<div class="container-fluid" id="projects">
  <div class="row p-5">
    <div class="text-center">
      <h2 class="mb-5"><span class="text-danger">My</span> Projects</h2>
    </div>

      <div class="column">
          <a href="https://www.redsailtechnologies.com/"><img src="https://res.cloudinary.com/dlxuus1lc/image/upload/v1687428654/redsailslong_ebnl4x.png" style="width:100%"></a>

          <a href="https://github.com/samxx47/bucket"><img src="https://res.cloudinary.com/dlxuus1lc/image/upload/v1687418488/dating_v46tf7.png" style="width:100%;"></a>


        <!-- <img src="https://www.w3schools.com//w3images/falls2.jpg" style="width:100%">
        <img src="https://www.w3schools.com//w3images/paris.jpg" style="width:100%">
        <img src="https://www.w3schools.com//w3images/nature.jpg" style="width:100%">
        <img src="https://www.w3schools.com//w3images/mist.jpg" style="width:100%">
        <img src="https://www.w3schools.com//w3images/paris.jpg" style="width:100%"> -->
      </div>
      <div class="column">
       <a href="https://www.blackbox.com/en-in/home"><img src="https://res.cloudinary.com/dlxuus1lc/image/upload/v1687418482/blackbox_a0xb4x.png" style="width:100%"></a>
        <a href="https://www.cybalt.com/about-cybalt"><img src="https://res.cloudinary.com/dlxuus1lc/image/upload/v1687418482/cybalt_da8vgl.png" style="width:100%"></a>
        <a href="https://github.com/samxx47/DatingAppDecember2022" class="mobileapp"><img src="https://res.cloudinary.com/dlxuus1lc/image/upload/v1687418481/busycrossapp_dxaruw.jpg" style="width:100%;height: 55rem;"></a>
         <!--<img src="https://www.w3schools.com//w3images/mountainskies.jpg" style="width:100%">
        <img src="https://www.w3schools.com//w3images/rocks.jpg" style="width:100%">
        <img src="https://www.w3schools.com//w3images/underwater.jpg" style="width:100%"> -->
      </div>

    </div>


  </div>


<script>
  // Get the elements with class="column"
  var elements = document.getElementsByClassName("column");

  // Declare a loop variable
  var i;

  // Full-width images
  function one() {
      for (i = 0; i < elements.length; i++) {
      elements[i].style.msFlex = "100%";  // IE10
      elements[i].style.flex = "100%";
    }
  }

  // Two images side by side
  function two() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.msFlex = "50%";  // IE10
      elements[i].style.flex = "50%";
    }
  }

  // Four images side by side
  function four() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.msFlex = "25%";  // IE10
      elements[i].style.flex = "25%";
    }
  }

  // // Add active class to the current button (highlight it)
  // var header = document.getElementById("myHeader");
  // var btns = header.getElementsByClassName("btn");
  // for (var i = 0; i < btns.length; i++) {
  //   btns[i].addEventListener("click", function() {
  //     var current = document.getElementsByClassName("active");
  //     current[0].className = current[0].className.replace(" active", "");
  //     this.className += " active";
  //   });

  </script>
